* { 
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* Applies to page */
body {
  position: relative;
  width: 100%;
  height: 1900px; 

  /* For hiding the vertical scroll bar while still having scroll ability.
   * Different lines of code for different browsers.
   */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  background: #234A30;
}

/* Also for hiding the scroll bar (for Chrome, Safari, and Opera) */
body::-webkit-scrollbar {
  display: none;
}

/* Header Component */
p.head {
  position: absolute;
  width: 1000px;
  left: 40px;
  
  line-height: 180px;
  z-index: 5; /* z-index is the order that stuff is ontop of each other. Big number = more on top. */
  color: #F5F2F2;

  /* I got Inter of of google fonts.
   * Look at the index.html file in public dir to find where I import it.
   */
  font-family: 'Inter', sans-serif;

  font-weight: 400;
  font-size: 70px;
}

/* HeaderTwo Component */
p.head2 {
  position: absolute;
  z-index: 5;
}


/* The Vectors */

#V2 {
  position: absolute;
  width: 750px;
  height: 600px;
  top: 640px;
  z-index: 3;
}

#V3 {
  position: absolute;
  width: 771.29px;
  height: 1100px;
  left: -110px;
  top: 50px;
  z-index: 1;
}

#V3-2 {
  position: absolute;
  width: 771.29px;
  height: 1100px;
  left: 190px;
  top: 700px;
  transform: rotate(160deg);
  z-index: 1;
}

#V4 {
  position: absolute;
  width: 550px;
  height: 800px;
  left: 1250px;
  top: -200px;
  z-index: 1;
}

#V5 {
  position: absolute;
  width: 500px;
  height: 850px;
  left: 1000px;
  top: 1000px;
}